.html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

/* ////////////////////NAV BAR////////////////////// */

.contain-links {
  width: 30%;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}

.contain-links > p {
  display: flex;
  align-items: center;
  font-weight: 600;
  letter-spacing: 0.05rem;
  font-size: 1.2rem;
  position: relative;
}
.contain-links > p:hover {
  color: #036635;
}

.contain-links > p:hover:after {
  content: " ";
  width: 96%;
  height: 0.3rem;
  color: #036635;
  background-color: #036635;
  position: absolute;
  bottom: 0;
}

.logo-nav {
  width: 100%;
  height: 100%;
}

.nav-bar {
  background-color: #ffffff;
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: space-between;
}

.section-logo {
  width: 12%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.section-logo > figure {
  width: 4rem;
  height: 4rem;
  margin-right: 3rem;
}

.section-links {
  width: 68%;
  display: flex;
}

.section-lacation {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.section-lacation :nth-child(1) {
  margin-left: 1.7rem;
  margin-right: 0.3rem;
}

.section-lacation > p {
  font-size: 1.2rem;
  font-weight: 600;
}

.spacing-70 {
  width: 70%;
}

/* ////////////////////NAV BAR////////////////////// */
